<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body></br></br></br></br></br>
        <div align="center">
            <div align="center" class="border">
                <div class = "header">
                    <h1 class="word">Home</h1>
                </div></br></br></br>
                <h1 class="bottom">
                    Welcome to the ladning page
                </h1></br></br></br>
                <a href="{{ url_for('weather') }}" class="button">Weather</a>
            </br></br></br></br>
                <a href="{{ url_for('logout') }}" class="button">Logout</a>
            </div>
        </div>
    </body>
</html>