<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body></br></br></br></br></br>
        <div align="center">
            <div align="center" class="border">
                <div class = "header">
                    <h1 class="word">Login</h1>
                </div></br></br></br>
                <h2 class="word">
                    <form action "{{ url_for('login') }}" method="post">
                        <div class="msg">{{ msg }}</div>
                            <input type="text" id="username" name="username" placeholder="Enter Your Username" class="textbox"></br></br>
                            <input type="password" id="password" name="password" placeholder="Enter Your password" class="textbox"></br></br>
                            <input type="submit" value="Login" class="button"></br></br>
                    </form>
                </h2>
                <p class="word">Don't have an account? <a class"button" href="{{ url_for('register') }}">Register</a></p>
            </div>
        </div>
    </body>
</html>